{% load static %}
{% load helper %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block titre %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/jquery.fancybox.css">
        <script src="../../static/js/jquery-1.11.3.min.js"></script>
        <script src="../../static/js/jquery.fancybox.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="header" class="row">
            <div class="pre-header">
                <div>
                    {% show_nb_recette %}
                    <div class="user-infos">
                        {% if user.is_authenticated %}
                            {{ user.last_name }}
                            {{ user.first_name }}
                        {% else %}
                            Connectez-vous !
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="account-header">
                <div>
                    <a id="logo" href="{% url 'recette:index' %}"><img src="../../static/images/logo.png" alt="" title=""></a>
                    {% include "search/search_form.html" %}
                    <div class="account-action">
                        {% if user.is_authenticated %}
                            <a href="{% url 'recette:mesrecettes' %}">Mes recettes</a>
                            <a href="{% url 'logout' %}">Déconnexion</a>
                        {% else %}
                            <a href="{% url 'recette:register' %}" style="">S'enregistrer</a>
                            <a href="{% url 'login' %}">Connexion</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="menu">
                <ul>
                    {% show_menu %}
                    <li class="add-recette">
                        {% if user.is_authenticated %}
                            <a href="{% url 'recette:ajout' %}" title="">Ajouter une recette</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div id="main_container">
            <div id="main">
                <div id="page">
                    {% block contenu %}{% endblock %}
                </div>
            </div>
        </div>
        <div id="footer">
            <div>
                <div class="message">
                    <span>Site universitaire</span>
                </div>
                <div class="footer_links">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Déconnexion</a>
                    {% else %}
                        <a href="{% url 'recette:register' %}" style="">S'enregistrer</a>
                        <a href="{% url 'login' %}">Connexion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>