{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block titre %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css">
        <script src="../../static/js/jquery-1.11.3.min.js"></script>
        <script src="../../static/js/jquery.bxslider.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="header" class="row">
            <div class="pre-header">
                <div>
                        {{ nb }} recettes en lignes !
                    <div class="user-infos">
                        {% if user.is_authenticated %}
                                {{ user.last_name }}
                                {{ user.first_name }}
                            {% else %}
                            Connectez-vous !
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="account-header">
                <div>
                    <a id="logo" href="{% url 'recette:index' %}"><img src="../../static/images/logo.png" alt="" title=""></a>
                    {% include "search/search_form.html" %}
                    <div class="account-action">
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}">Déconnexion</a>
                        {% else %}
                            <a href="{% url 'recette:register' %}" style="">S'enregistrer</a>
                            <a href="{% url 'login' %}">Connexion</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="menu">
                <ul>
                    <li><a class="active" href="{% url 'recette:index' %}" title="">Accueil</a></li>
                    <li><a href="?type=1" title="">Les entrées</a></li>
                    <li><a href="?type=2" title="">Les plats</a></li>
                    <li><a href="?type=3" title="">Les desserts</a></li>
                    <li><a href="?type=4" title="">Apero</a></li>
                </ul>
            </div>
        </div>
        <div id="main_container">
        <!--
            <div class="green_box">
                <ul class="bxslider clock">
                    <li><img src="../../static/images/slider/pizza.jpg" alt="" title=""></li>
                    <li><img src="../../static/images/slider/dinner.jpg" alt="" title=""></li>
                    <li><img src="../../static/images/slider/fruits.jpg" alt="" title=""></li>
                </ul>
            </div> -->
            <div id="main">
                <div id="page">
                    {% block contenu %}{% endblock %}
                </div>
            </div>
        </div>
        <div id="footer">
            <div>
                <div class="message">
                    <span>Site universitaire</span>
                </div>
                <div class="footer_links">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Déconnexion</a>
                    {% else %}
                        <a href="{% url 'recette:register' %}" style="">S'enregistrer</a>
                        <a href="{% url 'login' %}">Connexion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
<script type="text/javascript">
$(document).ready(function(){
    $('.bxslider').bxSlider({
        speed: 1000,
        controls : false,
        pager : false,
        auto : true,
        mode: 'fade'
    });
});

</script>
