{% extends 'recette/_base.html' %}
{% block titre %}Recette -{{ recette.titre }} {% endblock %}
{% block contenu %}

    <div class="recette">
    <h1> {{ recette.titre }}</h1>
    <span class="recette-detail">
       Type : {{ recette.type }}
        Cout : {{ recette.cout }}
        difficulté : {{ recette.difficulte }}
    </span>
    </div>

    <div class="photos">
        {% for photo in photos %}
            <img src="{{ photo.image.url }}"/>
        {% endfor %}
    </div>

    <div class="etapes">
        <ul>
            {% for etape in etapes %}
                <li> {{ etape.detail }}  </li>
            {% endfor %}
        </ul>
    </div>

    <div class="ingredients">
        <ul>
            {% for ingredient in ingredients %}
                <li> {{ ingredient.nom }} {{ ingredient.quantite }}  </li>
            {% endfor %}
        </ul>
    </div>

    <div class="temps">
        <ul>
            <li>Temps de cuisson {{ recette.temps_cuisson }}h</li>
            <li>Temps de preparation {{ recette.temps_preparation }}h</li>
            <li>Temps de repos {{ recette.temps_repos }}h</li>
        </ul>
    </div>


    <div class="note">
        <ul>
                <li> Note moyenne :{{ note.note__avg }}  </li>

        </ul>
    </div>
    <div class="commentaire">
        <ul>
            {% for com in commentaires %}
                <li> {{ com.user }} dit:
                 {{ com.message }}  </li>
            {% endfor %}
        </ul>
    </div>

    <div class="form_note">
    {% if form_note %}
         <form action="/" method="post">
        {{ form_note }}
        {% csrf_token %}
         <input type="submit" value="Noter">
        </form>
    {% endif %}
    </div>

    <div class="form_com">
    {% if form_com %}
        <form action="/" method="post">
        {{ form_com }}
        {% csrf_token %}
         <input type="submit" value="Commenter">
        </form>
    {% else %}
        Vous avez déjà voté !
    {% endif %}
    </div>
{% endblock %}