{% extends 'recette/_base.html' %}
{% block titre %}Recette  {% endblock %}
{% block contenu %}


    <div style="">
    {% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
    <form action="{% url 'recette:ajout' %}" method="post">

        {{ form3.as_p }}
        {{ form.as_p }}
        {{ form2.as_p }}
    {% csrf_token %}
    <input type="submit" />
    </form>
</div>
{% endblock %}
