{% extends 'recette/_base.html' %}
{% block titre %}Authentification{% endblock %}
{% block contenu %}

<form method="post" class="form" action="{% url 'django.contrib.auth.views.login' %}?next=">
    {% if form.errors %}
        <p class="errorlist">Votre identifiant et votre mot de passe de matche pas. Merci de vérifier vos informations.</p>
    {% endif %}
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" class="btn btn-primary" value="Se connecter" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}