body {
background: url(../images/background.png) repeat;
margin:0px;
padding:0px;
font: 10px  Arial,Helvetica,sans-serif;
color: #416271;
}
h1{
padding:5px 0 5px 0;
margin:0px;
font-size:18px;
color:#FFFFFF;
}
h2{
padding:5px 0 5px 0;
margin:0px;
font-size:18px;
color:#f7951e;
}
h3{
padding:0 0 5px 0;
margin:0px;
font-size:12px;
color:#59cef9;
}
h4{
padding:0 0 10px 0;
margin:0px;
font-size:14px;
color:#7ea743;
}
p{
text-align:justify;
padding:2px 0 2px 0;
margin:0px;
line-height:15px;
}
p.white{
color:#FFFFFF;
}
p.green{
color:#d4f0ba;
}
p.clear{
clear:both;
padding:10px 0 0 0;
}
img.left_img{
border:1px #cae6c6 solid;
float:left;
margin:0 10px 0 0 ;
}
img.box_img{
float:left;
padding:0 20px 0 0 ;
}
#main_container{
width:900px;
height:auto;
margin:auto;
}
#header{
width:100%;
height:auto;
margin:auto;
    position: relative;
}
#logo{
    display:inline-block;vertical-align: middle;  margin-right: 40px;
}
#logo img{max-width:200px}
/*----------------------menu-------------------------*/
#menu{
width:100%;
height:42px;
padding:0px;
clear:both;
background-color:#8bc34a;    letter-spacing: 0.5px;    text-transform: uppercase;font-weight: 600;
}
#menu ul {
    display: block;
    list-style: outside none none;
    margin: auto;
    overflow: hidden;
    padding: 0;
    width: 900px;
}
#menu ul li{
list-style:none;display:inline;float:left;width:auto;height:42px;line-height:42px; font-family:Arial, Helvetica, sans-serif; font-size:12px;
}
#menu ul li a{
padding:0 15px;height:42px; width: auto;float:left;text-decoration:none;color:#fff;text-align:center;
}
#menu ul li a:hover{
background-color: #fff;color: #416271 !important;
}
#menu ul li a.active{

}

/*--------------------------main_content-------------------*/
#main_content{
width:auto;
height:auto;
clear:both;
}
label{
width:70px;
float:left;
padding:3px 5px 0 0;
    font-weight: 100 !important;
text-align:right;
}
input.contact_input{
width:220px;
height:18px;
float:left;
border:1px #ced6ec solid;
background-color:#dbedf3;
color: #000;
}

/*-----------------------------footer------------------*/
#footer{
clear:both;
width: auto;
height:37px;
color: #fff;
background-color:#ff5a26;
}
#footer > div{width:900px;margin:auto;    overflow: hidden;
    padding: 10px;}
.copyright{
float:left;
padding-left:10px;
padding-top:10px;
}
#footer .message{float: left;}
.footer_links{
float:right;
}
.footer_links a{
text-decoration:none;
color: #fff;
padding-left:10px;
}
.footer_links a:hover{
text-decoration:underline;
color: #fff;
}

a:hover{
    color:#fff;
    text-decoration: none !important;
}
.pagination a:hover{
    color: #097168;
    text-decoration: underline;
}
#main{padding: 10px 20px 30px 20px;background-color: #fff}
h1{margin:0 0 10px 0 !important}
.form{overflow: hidden;}
.form label{width: 240px;}
.form input{float: left;margin-right: 10px; width: 250px;}
.form input[type="submit"]{display: block;float: none; margin: 15px auto 0 auto!important;width: 450px;}
.form p{clear: both;overflow:hidden}
.form .helptext{float: left; width: 300px;font-size: 12px}
.form .errorlist {background-color: #FA482E;color: #fff;list-style: outside none none;padding: 3px 10px;}
.btn-primary{background-color: #097168 !important;}
.form .required > label::after {color: #FA482E; content: " *";font-size: 20px;}
.required-field-message{display: block;text-align: right;}
.required-field-message span{color: #FA482E;font-size: 20px;}
.bxslider{padding: 0;}
.account-header{background-color: #cddc39;overflow:hidden}
.account-header > div {    padding: 3px 0;
    margin: auto;
    overflow: hidden;
    width: 900px;
}
.pre-header{background-color: #DCE775}
.pre-header > div {
    color: #214c09;
    font-weight: 600;
    margin: auto;
    padding:3px 0px 3px 0;
    width: 900px;
}
#header .account-action a {
    background-color: #fff;
    border-radius: 5px;
    color: #8bc34a;
    display: block;
    font-size: 13px;
    font-weight: 800;
    height: 35px;
    letter-spacing: 0.2px;
    padding: 9px 15px 0;
    text-align: center;
    text-transform: uppercase;
}
.account-action{display: inline-block;vertical-align: middle;    float: right;
    margin-top: 15px;}
.account-action > a {
    float: left;
    margin: 0 0 0 10px;
}
.account-action > a:hover{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(255, 87, 34, 1) 0px, rgba(255, 95, 45, 1) 100%) !important;
    color: #fff !important;
}
.account-header form{position:relative;display: inline-block;vertical-align: middle}
.account-header input[type="text"]{ border: 0 none;
    border-radius: 5px;
    color: #575757;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    width:250px}
.account-header input[type="submit"] {
    background: url(../images/search.png) no-repeat 0 0 / 60%;
    border: 0 none;
    font-size: 18px;
    font-weight: 800;
    height: 100%;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    position: absolute;
    right: -13px;
    text-indent: -9999px;
    text-transform: uppercase;
    top: 3px;
    width: 45px;
}
.search-filter form{text-align: right}
.search-filter span{display: inline-block;vertical-align: middle;margin-right: 30px}
.search-filter select{margin-right: 30px;display: inline-block;vertical-align: middle}
.search-filter input{display: inline-block;vertical-align: middle;padding: 5px 40px}
.user-infos{float:right}
.search-result img{width: 250px}
.add-recette{
    float: right !important;}
.add-recette a{background: url(../images/add.png) no-repeat 4% center;padding-left: 50px !important;}
.add-recette a:hover{background-image: url(../images/addhover.png)}
.my-recettes .link a{background: url(../images/modify.png) no-repeat 13px center;display: block;
    height: 50px;
    text-align: center;
    text-indent: -9999px;}
.my-recettes .supr a{background: url(../images/delete.png) no-repeat 13px center;}
table td{vertical-align: middle !important;text-align: center}
ul{list-style: none;padding-left: 0}
.recette-contain{overflow: hidden}
.recette-contain .photos{margin: 20px 0 0 0;overflow: hidden}
.recette-contain .photos img.first{margin-bottom: 20px;padding: 0 !important}
.recette-detail > span {margin: 0 15px;}
.etapes li::before, .ingredients li::before {content: "- "; margin-right: 10px;}
.temps li {color: #216944;font-weight: 600;}
.recette-detail {color: #216944;font-size: 15px;display: block;}
.photos{padding-left: 0 !important;}
.recette-detail .first{margin-left: 0 !important;}
.recette-right{padding-right: 0 !important;text-align: justify}
.note{margin: 10px 0}
.form_com label {display: block;overflow: hidden;text-align: left;width: 100%;}
.form_com input {display: block;margin-top: 10px;}
.form_com textarea{resize: vertical}
.form_note, .note-moyenne {display: inline-block;}
.note {background-color: #dce775;margin: 10px 0;padding: 4px 7px;}
.form_note .btn {margin-left: 15px;}
.form_note > a,.form_note > span {font-style: italic;margin-left: 30px;}
.form_note label {margin-top: 3px;}
h5.success_message {background-color: #dce775;font-style: italic;padding: 10px;}