body {
background: url(../images/background.png) repeat;
margin:0px;
padding:0px;
font: 10px  Arial,Helvetica,sans-serif;
color: #416271;
}
h1{
padding:5px 0 5px 0;
margin:0px;
font-size:18px;
color:#FFFFFF;
}
h2{
padding:5px 0 5px 0;
margin:0px;
font-size:18px;
color:#f7951e;
}
h3{
padding:0 0 5px 0;
margin:0px;
font-size:12px;
color:#59cef9;
}
h4{
padding:0 0 10px 0;
margin:0px;
font-size:14px;
color:#7ea743;
}
p{
text-align:justify;
padding:2px 0 2px 0;
margin:0px;
line-height:15px;
}
p.white{
color:#FFFFFF;
}
p.green{
color:#d4f0ba;
}
p.clear{
clear:both;
padding:10px 0 0 0;
}
img.left_img{
border:1px #cae6c6 solid;
float:left;
margin:0 10px 0 0 ;
}
img.box_img{
float:left;
padding:0 20px 0 0 ;
}
#main_container{
width:900px;
height:auto;
margin:auto;
}
#header{
width:100%;
height:auto;
margin:auto;
    position: relative;
}
#logo{
    float:left
}
#logo img{max-width:200px}
/*----------------------menu-------------------------*/
#menu{
width:100%;
height:42px;
padding:0px;
clear:both;
background-color:#ff5722;    letter-spacing: 0.5px;    text-transform: uppercase;font-weight: 600;
}
#menu ul {
    display: block;
    list-style: outside none none;
    margin: auto;
    overflow: hidden;
    padding: 0;
    width: 900px;
}
#menu ul li{
list-style:none;display:inline;float:left;width:auto;height:42px;line-height:42px; font-family:Arial, Helvetica, sans-serif; font-size:15px;
}
#menu ul li a{
padding:0 15px;height:42px; width: auto;float:left;text-decoration:none;color:#fff;text-align:center;
}
#menu ul li a:hover{
background-color: #fff;color: #416271 !important;
}
#menu ul li a.active{

}

/*--------------------------main_content-------------------*/
#main_content{
width:auto;
height:auto;
clear:both;
}
label{
width:70px;
float:left;
padding:3px 5px 0 0;
    font-weight: 100 !important;
text-align:right;
}
input.contact_input{
width:220px;
height:18px;
float:left;
border:1px #ced6ec solid;
background-color:#dbedf3;
color: #000;
}

/*-----------------------------footer------------------*/
#footer{
clear:both;
width: auto;
height:37px;
color: #fff;
background-color:#043227;
}
.copyright{
float:left;
padding-left:10px;
padding-top:10px;
}
.footer_links{
float:right;
padding-right:15px;
padding-top:13px;
}
.footer_links a{
text-decoration:none;
color: #fff;
padding-left:10px;
}
.footer_links a:hover{
text-decoration:underline;
color: #fff;
}

a:hover{
    color:#fff !important;
    text-decoration: none !important;
}
#main{padding: 10px 20px 30px 20px;background-color: #fff}
h1{margin:0 0 10px 0 !important}
form{overflow: hidden;}
form label{width: 240px;}
form input{float: left;margin-right: 10px; width: 250px;}
form input[type="submit"]{display: block;float: none; margin: 15px auto 0 auto!important;width: 450px;}
form p{clear: both;overflow:hidden}
form .helptext{float: left; width: 300px;font-size: 12px}
form .errorlist {background-color: #FA482E;color: #fff;list-style: outside none none;padding: 3px 10px;}
.btn-primary{background-color: #097168 !important;}
form .required > label::after {color: #FA482E; content: " *";font-size: 20px;}
.required-field-message{display: block;text-align: right;}
.required-field-message span{color: #FA482E;font-size: 20px;}
.bxslider{padding: 0;}
.account-header{background-color: #34393E;overflow:hidden}
.account-header > div {
    margin: auto;
    overflow: hidden;
    width: 900px;
}
.pre-header{background-color: #fff}
.pre-header > div {
    color: #868686;
    font-weight: 600;
    margin: auto;
    padding:3px 0px 3px 0;
    width: 900px;
}
#header .account-header a {
    border-radius: 5px;
    border-top: 1px solid #5e5e5e;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 35px;
    padding: 7px 15px 0;
    text-align: center;
}
.account-action{height: 70px;float:right;padding-top: 20px}
.account-action > a {
    float: left;
    margin: 0 16px;
}
.account-action > a:hover{
    background-color: #ff5722 ;
}